:root {
    --img-cover: url("../images/cover.jpg");
    --img-card-1: url("../images/card-lot-01.jpg");
    --img-card-2: url("../images/card-lot-02.jpg");
    --img-card-3: url("../images/card-lot-03.jpg");
    --img-social-yt: url("../images/yt.svg");
    --img-social-vk: url("../images/vk.svg");
    --img-social-pinterest: url("../images/pinterest.svg");
}

ul {
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    place-items: center;
    max-width: 1052px;
    max-height: 105px;
    margin-top: 92px;
    font-size: 18px;
    font-weight: 400;
}

.nav__menu {
    display: flex;
    justify-self: left;
    line-height: 21px;
    max-width: 392px;
    list-style: circle;
    gap: 33px;
}

.nav__menu-home {
    list-style: none;
}

.nav__menu-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.header__logo {
    justify-self: center;
    height: 105px;
    width: 148px;
}

.header__contacts {
    justify-self: right;
    max-width: 240px;
    line-height: 24px;
}

.contacts__info {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.main {
    margin-top: 96px;
}

.cover {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 82% auto;
    max-width: 1100px;
    width: 100%;
    height: 757px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), var(--img-cover);
    background-size: cover;
    color: white;
}

.cover__title {
    display: grid;
    margin: auto;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    height: 355px;
    font-weight: 700;
    font-size: 100px;
}

.cover__title-firstword {
    line-height: 115px;
    letter-spacing: 30px;
    justify-self: flex-start;
}

.cover__title-secondword {
    line-height: 100px;
    letter-spacing: 30px;
    justify-self: center;
}

.cover__title-thirdword {
    line-height: 100px;
    letter-spacing: 60px;
    max-width: 417px;
    justify-self: flex-end;
    text-align: right;
}

.first {
    letter-spacing: 60px;
}

.second {
    letter-spacing: 60px;
    align-self: center;
}

.third {
    letter-spacing: 30px;
}

.cover__subline {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 52px;
    max-width: 1000px;
    width: 100%;
}

.cover__subline-text {
    max-width: 639px;
    height: 28px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.button {
    border: 1px solid white;
    color: white;
    width: 256px;
    height: 52px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
}

.lots {
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
    margin: 180px auto 0;
    max-width: 1052px;
    width: 100%;
    height: 692px;
}

.lots__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-left: 40px;
    text-transform: uppercase;
}

.lots__cards {
    display: flex;
    gap: 25px;
    height: 563px;
    max-width: 1052px;
    width: 100%;
    color: white;
}

.lots__cards__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 334px;
    height: 563px;
    padding: 51px 0 48px 0;
}

.card-1 {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), var(--img-card-1);
    background-position: center;
    background-size: cover;
}

.card-2 {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), var(--img-card-2);
    background-position: center;
    background-size: cover;
}

.card-3 {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), var(--img-card-3);
    background-position: center;
    background-size: cover;
}

.card-title {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    text-align: left;
    width: 254px;
}

.card-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 254px;
}

.lots__more {
    padding-left: 40px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.about {
    display: grid;
    grid-template-columns: 334px 693px;
    grid-template-rows: 283px max-content;
    column-gap: 25px;
    margin-top: 146px;
    max-width: 1052px;
    width: 100%;
    height: 595px;
}

.about__logo {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    justify-self: center;
    align-items: center;
    background-color: black;
    margin-top: 22px;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.logo-svg {
    width: 148px;
    height: 114px;
}

.about__title {
    align-self: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
}

.about__column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.column-top {
    padding-right: 5px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    margin: 180px auto auto;
    max-width: 1000px;
    width: 100%;
    height: 98px;
}

.footer__contacts {
    justify-self: left;
    max-width: 241px;
    width: 100%;
    height: 98px;
}

.footer__menu {
    justify-self: center;
    text-align: center;
    max-width: 149px;
    width: 100%;
    height: 64px;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    justify-self: right;
    gap: 48px;
    max-width: 240px;
    width: 100%;
    height: 48px;
}

.youtube {
    background: var(--img-social-yt) no-repeat;
    width: 48px;
    height: 48px;
}

.vk {
    background: var(--img-social-vk) no-repeat;
    width: 48px;
    height: 48px;
}

.pinterest {
    background: var(--img-social-pinterest) no-repeat;
    width: 48px;
    height: 48px;
}