:root {
    --img-cover: url("../images/cover.jpg")
}

ul {
    list-style: none;
}

.header {
    display: grid;
    grid-template-columns: 45% 148px auto;
    grid-template-rows: 105px;
    place-items: center;
    max-width: 1052px;
    max-height: 105px;
    margin-top: 92px;
    font-size: 18px;
    font-weight: 400;
}

.nav__menu {
    display: flex;
    justify-self: center;
    line-height: 21px;
    max-width: 391px;
    list-style: circle;
    gap: 33px;
}

.nav__menu-home {
    list-style: none;
}

.header__logo {
    justify-self: center;
    height: 105px;
    width: 148px;
}

.header__contacts {
    justify-self: right;
    max-width: 240px;
    line-height: 24px;
}

.contacts__info {
    text-decoration: underline;
}

.main {
    margin-top: 96px;
}

.cover {
    width: 1100px;
    height: 757px;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), var(--img-cover);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.cover__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    height: 355px;
    font-weight: 700px;
    font-size: 100px;
    line-height: 100px;
}

.cover__title-firstword {
    align-self: flex-start;
    line-height: 115px;
    letter-spacing: 30px;
}

.cover__title-secondword {

}

.cover__title-thirdword {
    align-self: flex-end;
    letter-spacing: 60px;
}

.first {
    letter-spacing: 60px;
}

.second {
    letter-spacing: 60px;
}

.third {
    letter-spacing: 30px;
}

.cover__subline {
}